.index-context {
  height: calc(40% - 30px);
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  // 头像
  .userImg {
    .img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  // 名称
  .userName {
    h1 {
      margin:10px 0;
      font-weight:  300;
    }
  }
  // 内容
  .userContext {
    p {
      margin: 0px;
    }
  }
}
