.task-list {
  width: 100%;
  display: flex;
  padding: 12px 0;
  font-size: 14px;
  input {
    display: none;
  }
  label {
    flex: 1;
    color: #666;
    vertical-align: top;
    .checkbox {
      width: 14px;
      height: 14px;
      display: inline-block;
      border: 1px solid #eee;
      background: white;
      margin-right: 20px;
      text-align: center;
      line-height: 0px;
      overflow: hidden;
      i {
        font-size: 14px;
        color: white;
      }
      .check-action {
        color: rgb(167, 162, 162);
        // background: #ccc;
      }
    }
  }
  .trash {
    display: inline-block;
    margin-left: 20px;
  }
  .trash {
    color: #ccc;
    font-size: 14px;
  }
}
