.todo-detail {
  text-align: left;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  will-change: width height top left;
  //
  .todo-bar {
    width: 100%;
    height: 44px;
    background: white;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    .arrow {
      font-size: 20px;
    }
    .arrow,
    .option {
      padding: 0px 20px;
      color: #666;
    }
  }
  //
  .index-nav-item {
    padding: 0px 0px;
    // .context {
    //   //   transform: translate3d(0, 50px, 0);
    // }
    // .body {
    //   // transition: all 0.5s ease-out 0s;
    // }
  }
  //
  
}
